body{
  position: relative;

}

.apiDocs{

  $basePadding: 1.4rem;


  font-family: $fontBody;
  *, *:before, *:after {
    box-sizing: border-box;
  }
.container{
      display: flex;
}

.relative {
    position: relative;
}





  .nav{
    @include grid-column(2, $custom-neat-grid);
      border-right: 1px solid $textDarkDivider;
      background: #f5f5f5;

    #navInner{
      border-bottom: 20px solid black;

      .header{
        text-align: center;
        padding: $basePadding*3 $basePadding $basePadding;

      }

      .version{
        padding: $basePadding/2 $basePadding;
        text-align: center;
        select{
          background: green;
          color: white;

        }
      }



      ul{
        margin-top: 0;
        list-style: none;
        padding: 0;

        li{
          padding: $basePadding/2 $basePadding;

          a{
            text-decoration: none;
            color: $textDarkSecondary;
          }

          &.active{
            background: #dedede;
          }

        }


      }
    }
  }

  .wrap{
    @include grid-column(10, $custom-neat-grid);
    // @include grid-collapse($custom-neat-grid);
 // @include grid-container;

    .header{

      padding: $basePadding*12 $basePadding*2 $basePadding*2;
          display: inline-block;

      h1{
        font-size: 3em;

      }

    }

  .content{
    @include grid-column(12, $custom-neat-grid);
    flex: 1;
    position: relative;

    .setLang{
      display: flex;
      @include grid-column(6,$custom-neat-grid);
      // @include grid-push(2);
      // flex: 1;
      display: block;
      top:0;
      right:0;
      position: absolute;
      background: darken(#FCFCFC,12);

      ul{
        margin: 0;
        list-style: none;
        padding: 0;
        display: inline-block;

        li{
          display: block;
          float: left;
          margin: .4rem 1rem;
          cursor: pointer;

          padding: .4rem 1rem;
          font-size: 1.6rem;
          border: 1px solid rgba(0,0,0,0);

          &.current{
            background: darken(#FCFCFC,24);
            border: 1px solid darken(#FCFCFC,16);
            border-radius: 1rem;
          }



        }
      }
    }

    .method{
      display: flex;
      // flex: 1;
       min-height: 1000px;
       border-bottom: 1px solid $textDarkDivider;

       .method-description{
         @include grid-column(6,$custom-neat-grid);
        //  flex: 1;
         font-size: 1.8rem;
         padding: $basePadding*2;
         background: #FCFCFC;
        //  border-right: 1px solid $textDarkDivider;



         code{
           background: darken(#FCFCFC,6);
           border-radius: .4rem;
           padding: .4rem .8rem;
         }
       }

       .method-example{
         @include grid-column(6,$custom-neat-grid);
         background: darken(#FCFCFC,6);
        //  flex: 1;
         font-size: 1.6rem;
         padding: $basePadding*2;

         .tab-content{
           display: none;
           &.current{
             display: block;
           }
         }

         .hljs {
           background: darken(#FCFCFC,6);
        }

       }
    }
  }

}

}
