$baseHeight: 4.8rem;
$basePadding: 1.4rem;
$baseFontSize: 1.6rem;
$baseBorderRadius: 6px;
$themeColor: rgba(17, 15, 123, 0.8);
$textColorPrimary: rgba(0, 0, 0, 0.87);
$textColorSecondary: rgba(0, 0, 0, 0.54);
