$baseHeight: 4.8rem;
$basePadding: 1.4rem;
$baseFontSize: 1.6rem;
$baseBorderRadius: 6px;
$themeColor: rgba(17, 15, 123, 0.8);
$textColorPrimary: rgba(0, 0, 0, 0.87);
$textColorSecondary: rgba(0, 0, 0, 0.54);

// Text Variables
// - Dark text colour
$textDarkPrimary: rgba(0, 0, 0, .87);
$textDarkSecondary: rgba(0, 0, 0, .54);
$textDarkHint: rgba(0, 0, 0, .38);
$textDarkDivider: rgba(0, 0, 0, .12);
// - Light text
$textLightPrimary: rgba(255, 255, 255, 1);
$textLightSecondary: rgba(255, 255, 255, .70);
$textLightHint: rgba(255, 255, 255, .50);

/// Code pre highlight
$codeHighlight: #F3F3F4;

//ss

$colorDanger: #F24236;
$colorSuccess: #00CC66;

// Fonts
$fontHeadings: 'Poppins', sans-serif;
$fontBody: 'Open Sans', sans-serif;

$fontIcons: 'Ionicons';


// links colour
$linkPrimary: #0078be;

// links colour
$btnPrimary: #fff;

// border colour
$borderColorDark: rgba(0, 0, 0, .12) !default;

// border radius
$borderRadiusPrimary: 4px !default;

// padding
$paddingSection: 62px 0;
$paddingSectionMobile: 24px 0;
$paddingSection2x: 84px 0;
$paddingSectionMobile2x: 48px 0;

// Background fills
$bgFillDarkPrimary: rgba(0, 0, 0, 0.3);
$bgFillLightPrimary: rgba(255, 255, 255, 0.5);

// Theme
$themeColorPrimary: #17629B; //#225F9B; //#5CB988;
$themeColorSecondary: #F1A208;//#F0C987;


@mixin themeGradientLinearPrimary {
  background: $themeColorPrimary; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, darken($themeColorPrimary, 8) , lighten($themeColorPrimary, 8)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, darken($themeColorPrimary, 8) , lighten($themeColorPrimary, 8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin themeGradientLinearSecondary {
  background: $themeColorSecondary; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, darken($themeColorSecondary, 8) , lighten($themeColorSecondary, 8)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, darken($themeColorSecondary, 8) , lighten($themeColorSecondary, 8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

//social colors
$colorTwitter: #0084b4;
$colorFacebook: #3b5998;
$colorNewsletter: $themeColorSecondary;
